html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #fbefcc;
}

.bodyStranice {
    background-color: #fbefcc;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#meni {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
    background-color: #e0876a;
}
/* 
#meniTitle {
    height: 50px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
} */

#listaMeni {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0px;
    width: fit-content;
    margin: 0px;
}

.itemMeni {
    padding-left: 20px;
    padding-bottom: 5px;
    width: fit-content;
}

#studentiGrupe {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#studenti {
    display: flex;
    height: auto;
    width: 60%; 
    /* padding: 0 20px 0 20px; */
    /* border-top: solid;
    border-right: solid; */
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4a688;
}

#grupe {
    height: auto;
    /* border-top: solid; */
    /* padding: 0 20px 0 20px; */
    justify-content: center;
    width: 40%;
    background-color: #f9ccac;
}

#tabela {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 15px;
    margin-right: 15px;
}

.nazivGrupe {
    border: 1px solid black;
    padding: 10px;
}

.tableHeader {
    border: 1px solid black;
    padding: 10px;
}

.celijaGrupa {
    border: 1px solid black;
    padding: 10px;
}

.celija {
    border: 1px solid black;
    padding: 10px;
}

.student {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    width: 100px;
    margin: 5px;
}

.student p {
    margin: 1%;
}

.unosCSV {
    resize: none;
    height: 250px;
    width: 500px;
}

.formaV2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 799px) {
    #studentiGrupe {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #studenti {
        border-right: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #grupe {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 499px) {
    #listaMeni {
        flex-direction: column;
        justify-content: end;
        width: 100%;
    }

    .itemMeni {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    #meni {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
    }

    #studentiGrupe {
        align-items: center;
        justify-content: center;
    }

    #grupe {
        display: flex;
        flex-wrap: wrap;
    }

    #studenti {
        display: flex;
        flex-wrap: wrap;
    }

    .celija {
        display: none;
    }

    .tableHeader {
        display: none;
    }
}
