html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #6495ed;
}

/* .bodyStranice {
    background-color: #6495ed;
    height: 100%;
    width: 100%;
} */

.bodyStranice {
    background-color: #fbefcc;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display:table;
}


#meni {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
    background-color: #e0876a;
}

#listaMeni {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    width: 100%;
}

.itemMeni {
    padding-left: 20px;
    padding-bottom: 5px;
    width: fit-content;
}

#sadrzajVjezbe {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#odabirVjezbe {
    max-width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 20px;
    /* margin-right: 10px; */
    /* border-right: 1px solid black; */
    background-color: #f4a688;
}

.vjezba {
    min-width: 100%;
    /* width: fit-content; */
    margin-top: 20px;
    border: 1px solid black;
}

.vjezbaTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.zadaci {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}

.zadatak {
    border: 1px solid black;
    margin-right: 5px;
    padding: 2px;
    max-width: 100%;
    max-height: 100%;
}

#grafovi {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f9ccac;
}

.grafOmotac {
    width: 46%;
    padding: 5px;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.graf {
    max-width:100%;
    max-height:100%;
}

@media screen and (max-width: 800px) {
    #sadrzajVjezbe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #grafovi {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grafOmotac {
        border: none;
    }

    #odabirVjezbe {
        border: none;
    }
}

@media screen and (max-width: 500px) {
    #listaMeni {
        flex-direction: column;
        justify-content: end;
        width: 100%;
    }

    .itemMeni {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    #meni {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
    }
}