#formKontejner {
    width: 100%;
    padding-top: 30px;
}

#formKontejner form {
    margin: 0 auto 10px auto;
    width: fit-content;

}

#formKontejner form select{
    height: 30px;
    width: 300px;
}

#formKontejner form textarea{
    resize: none;
    height: 60px;
    width: 300px;
}

#formKontejner form button {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
    #formKontejner form {
        width: 100%;
    
    }
    #formKontejner form > * {
        max-width: 90%;
    }
}